<h1>Listing engines</h1>

<table>
  <thead>
    <tr>
      <th>Modelnumber</th>
      <th>Notes</th>
      <th>Scale</th>
      <th>Enginetype</th>
      <th>Roadnumber</th>
      <th>Own</th>
      <th>User</th>
      <th>Manufacturer</th>
      <th>Prototype</th>
      <th>Railroad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @engines.each do |engine| %>
      <tr>
        <td><%= engine.modelnumber %></td>
        <td><%= engine.notes %></td>
        <td><%= engine.scale %></td>
        <td><%= engine.enginetype %></td>
        <td><%= engine.roadnumber %></td>
        <td><%= engine.own %></td>
        <td><%= engine.User %></td>
        <td><%= engine.Manufacturer %></td>
        <td><%= engine.Prototype %></td>
        <td><%= engine.Railroad %></td>
        <td><%= link_to 'Show', engine %></td>
        <td><%= link_to 'Edit', edit_engine_path(engine) %></td>
        <td><%= link_to 'Destroy', engine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Engine', new_engine_path %>
