<p id="notice"><%= notice %></p>

<p>
  <strong>Modelnumber:</strong>
  <%= @engine.modelnumber %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @engine.notes %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @engine.scale %>
</p>

<p>
  <strong>Enginetype:</strong>
  <%= @engine.enginetype %>
</p>

<p>
  <strong>Roadnumber:</strong>
  <%= @engine.roadnumber %>
</p>

<p>
  <strong>Own:</strong>
  <%= @engine.own %>
</p>

<p>
  <strong>User:</strong>
  <%= @engine.User %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @engine.Manufacturer %>
</p>

<p>
  <strong>Prototype:</strong>
  <%= @engine.Prototype %>
</p>

<p>
  <strong>Railroad:</strong>
  <%= @engine.Railroad %>
</p>

<%= link_to 'Edit', edit_engine_path(@engine) %> |
<%= link_to 'Back', engines_path %>
