<p id="notice"><%= notice %></p>

<p>
  <strong><%= Engine.human_attribute_name("modelnumber") %>:<strong/>
  <%= @engine.modelnumber %>
</p>

<p>
  <strong><%= Engine.human_attribute_name("notes") %>:</strong>
  <%= @engine.notes %>
</p>

<p>
  <strong><%= Engine.human_attribute_name("scale") %>:</strong>
  <%= @engine.scale %>
</p>

<p>
  <strong><%= Engine.human_attribute_name("enginetype") %>:</strong>
  <%= @engine.enginetype %>
</p>

<p>
  <strong><%= Engine.human_attribute_name("roadnumber") %>:</strong>
  <%= @engine.roadnumber %>
</p>

<p>
  <strong><%= Engine.human_attribute_name("own") %>:</strong>
  <% if @engine.own then%>
    <span class="glyphicon glyphicon-ok"></span>
  <% end %>
</p>

<p>
  <strong><%= Engine.human_attribute_name("Manufacturer") %>:</strong>
  <%= @engine.Manufacturer.name %>
</p>

<p>
  <strong><%= Engine.human_attribute_name("Prototype") %>:</strong>
  <%= @engine.Prototype.name %>
</p>

<p>
  <strong><%= Engine.human_attribute_name("Railroad") %>:</strong>
  <%= @engine.Railroad.name %>
</p>

<%= link_to 'Edit', edit_engine_path(@engine) %> |
<%= link_to 'Back', engines_path %>
