<%= form_for(@track) do |f| %>
  <% if @track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :partnumber %><br>
    <%= f.text_field :partnumber %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :scale %><br>
    <%= f.select( :scale , SCALES ) %>
  </div>
  <div class="field">
    <%= f.label :tracktype %><br>
    <%= f.select( :tracktype , TRACKTYPES ) %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :Manufacturer_id %><br>
    <%= f.collection_select :Manufacturer_id , @manufacturer_array, :id , :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
