<p>
  <strong>Partnumber:</strong>
  <%= @track.partnumber %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @track.notes %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @track.scale %>
</p>

<p>
  <strong>Tracktype:</strong>
  <%= @track.tracktype %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @track.quantity %>
</p>

<p>
  <strong>User:</strong>
  <%= @track.User %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @track.Manufacturer %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
