<p>
  <strong><%= Track.human_attribute_name("name") %>:</strong>
  <%= @track.name %>
</p>

<p>
  <strong><%= Track.human_attribute_name("partnumber") %>:</strong>
  <%= @track.partnumber %>
</p>

<p>
  <strong><%= Track.human_attribute_name("notes") %>:</strong>
  <%= @track.notes %>
</p>

<p>
  <strong><%= Track.human_attribute_name("scale") %>:</strong>
  <%= @track.scale %>
</p>

<p>
  <strong><%= Track.human_attribute_name("tracktype") %>:</strong>
  <%= @track.tracktype %>
</p>

<p>
  <strong><%= Track.human_attribute_name("quantity") %>:</strong>
  <%= @track.quantity %>
</p>


<p>
  <strong><%= Track.human_attribute_name("Manufacturer") %>:</strong>
  <%= @track.Manufacturer.name %>
</p>

<%= link_to 'Edit', edit_track_path(@track) %> |
<%= link_to 'Back', tracks_path %>
