<p id="notice"><%= notice %></p>

<p>
  <strong><%= Prototype.human_attribute_name("name") %>:</strong>
  <%= @prototype.name %>
</p>

<p>
  <strong><%= Prototype.human_attribute_name("notes") %>:</strong>
  <%= @prototype.notes %>
</p>

<p>
  <strong><%= Prototype.human_attribute_name("enginetype") %>:</strong>
  <%= @prototype.enginetype %>
</p>

<p>
  <strong><%= Prototype.human_attribute_name("manufacturer") %>:</strong>
  <%= @prototype.manufacturer %>
</p>

<p>
  <strong><%= Prototype.human_attribute_name("model") %>:</strong>
  <%= @prototype.model %>
</p>


<%= link_to 'Edit', edit_prototype_path(@prototype) %> |
<%= link_to 'Back', prototypes_path %>
