<h2><%= @user.email %></h2>
<%= link_to 'Edit Profile', edit_user_registration_path, :class => 'btn btn-default' %>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<%= link_to 'Edit Profile', edit_user_registration_path, :class => 'btn btn-default' %>
<br/>
<%= link_to "Back", :back %>
