<%= form_for(@railroad) do |f| %>
  <% if @railroad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@railroad.errors.count, "error") %> prohibited this railroad from being saved:</h2>

      <ul>
      <% @railroad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :User_id %><br>
    <%= f.text_field :User_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
