<p id="notice"><%= notice %></p>

<p>
  <strong><%= Railroad.human_attribute_name("name") %>:</strong>
  <%= @railroad.name %>
</p>

<p>
  <strong><%= Railroad.human_attribute_name("notes") %>:</strong>
  <%= @railroad.notes %>
</p>


<%= link_to 'Edit', edit_railroad_path(@railroad) %> |
<%= link_to 'Back', railroads_path %>
