<p id="notice"><%= notice %></p>

<p>
  <strong><%= Car.human_attribute_name("name") %>:</strong>
  <%= @car.name %>
</p>

<p>
  <strong><%= Car.human_attribute_name("modelnumber") %>:</strong>
  <%= @car.modelnumber %>
</p>

<p>
  <strong><%= Car.human_attribute_name("notes") %>:</strong>
  <%= @car.notes %>
</p>

<p>
  <strong><%= Car.human_attribute_name("scale") %>:</strong>
  <%= @car.scale %>
</p>

<p>
  <strong><%= Car.human_attribute_name("cartype") %>:</strong>
  <%= @car.cartype %>
</p>

<p>
  <strong><%= Car.human_attribute_name("quantity") %>:</strong>
  <%= @car.quantity %>
</p>

<p>
  <strong><%= Car.human_attribute_name("Manufacturer") %>:</strong>
  <%= @car.Manufacturer.name %>
</p>

<p>
  <strong><%= Car.human_attribute_name("Railroad") %>:</strong>
  <%= @car.Railroad.name %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
