<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @manufacturer.name %>
</p>

<p>
  <strong>Control:</strong>
  <%= @manufacturer.control %>
</p>

<p>
  <strong>Track:</strong>
  <%= @manufacturer.track %>
</p>

<p>
  <strong>Trains:</strong>
  <%= @manufacturer.trains %>
</p>

<p>
  <strong>User:</strong>
  <%= @manufacturer.user %>
</p>

<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
