<p id="notice"><%= notice %></p>

<p>
  <strong><%= Manufacturer.human_attribute_name("name") %>:</strong>
  <%= @manufacturer.name %>
</p>

<p>
  <strong><%= Manufacturer.human_attribute_name("control") %>:</strong>
  <%= @manufacturer.control %>
</p>

<p>
  <strong><%= Manufacturer.human_attribute_name("track") %>:</strong>
  <%= @manufacturer.track %>
</p>

<p>
  <strong><%= Manufacturer.human_attribute_name("trains") %>:</strong>
  <%= @manufacturer.trains %>
</p>


<%= link_to 'Edit', edit_manufacturer_path(@manufacturer) %> |
<%= link_to 'Back', manufacturers_path %>
