<!DOCTYPE html>
<html>
<head>
  <title>Train Bin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-responsive-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a href="/" >Train Bin</a>
          </div>
          <div class="collapse navbar-collapse nav-responsive-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav">
              <% if user_signed_in? %>
                <li id="nav_engines"><%= link_to "Engines", engines_path %></li>
                <li id="nav_cars"><%= link_to "Cars", cars_path %></li>
                <li id="nav_track"><%= link_to "Track", tracks_path %></li>
              <% end %>
                <li id="nav_about"><a href="/home/about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><div><%= link_to 'Profile', current_user, :class => 'btn btn-default navbar-btn' %></div></li>
                <li><div><%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'btn btn-default navbar-btn'  %></div></li>
              <% else %>
                <li><div><%= link_to "Sign up", new_user_registration_path, :class => 'btn btn-default navbar-btn'  %></div></li>
                <li><div><%= link_to "Login", new_user_session_path, :class => 'btn btn-default navbar-btn'  %></div></li>
              <% end %>
            </ul>
          </div>
        </div>
    </nav>
    <div class="container-fluid">
    	<!-- alerts needed for devise -->
  		<p class="notice"><%= notice %></p>
  		<p class="alert"><%= alert %></p>
    	<%= yield %>
    </div>
    <footer>
	    <div class="container" style="text-align: center;">
        <br/>
        <p>amndsn.com 2013</p>
      </div>
	</footer>
</body>
</html>
